@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .brand-name {
  font-family: 'Playfair Display', serif;
}

@theme {
  --container: 1140px;
}


